.societiesPage {
    background-image: url('components/images/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


.mainContainer {
    min-width: 675px !important;
    height: 100%;
    width: 100vw !important;
    background-color: #252526;
    justify-content: center;
    padding: 0px;
    margin-left: 0% !important;
    margin-right: 0% !important;
    min-height: 1080px;
}

.societiesCard {
    min-width: 300px !important;
    width: 96% !important;
    height: auto !important;
    background-color: #202020 !important;
    color: #ffffff !important;
    border-color: #202020 !important;
    margin-bottom: 40px;
    margin-left: 35px !important;
    text-align: center;
    padding: 0px !important;
}

.societiesCardBody {
    background-color: #18cdc6;
    font-weight: 500;
    width: 97% !important;
    margin: auto;
}

.societiesCardText {
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
    margin-left: 10px;
    text-align: center;
}


.societiesCardTitle {
    color: #202020 !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    font-size: 30px !important;
    padding-right: 0px !important;
    padding-left: px !important;
    background-color: #18cdc6;
}

.societiesCardImg {
    width: 120px !important;
    height: 120px !important;
    padding: 0px !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    margin-bottom: 20px;
    margin-right: 20px;
}

.societiesCardRow {
    width: auto;
}

.societiesImgCol {
    width: 100px !important;
    padding: 0px !important;
}

.societiesInfoRow {
    margin-left: 20px !important;
    margin-top: 20px !important;
}

.societiesInfoLabel {
    color: #ffffff !important;
    width: 40% !important;
}

.mainRow {
    height: 100% !important;
    width: 100% !important;
    display: grid !important;
}

.societiesHeader {
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 80px;
    text-align: center;
    border-top: 1px solid #18cdc6;
    border-bottom: 1px solid #18cdc6;
    font-weight: bold;
}

.societiesJoinButton {
    width: 20% !important;
    height: 50px !important;
    background-color: #252526 !important;
    border-color: #18cdc6 !important;
    color: #ffffff !important;
}

.societiesPrice {
    display: block; /* Makes it take up the full width like a div */
    margin-top: 0.5em; /* Adjust as needed to move the price down */
}

.societiesButtonContainer {
    display: flex;
    justify-content: center; /* This centers the button horizontally */
}

.societiesInfoCol {
    margin-left: 50px;
}
