
.createEventFormCol {
  width: 33%;
  height: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #18cdc6;
  padding-top: 10px;
  background-color: #252526;
}

.createEventFormLabel {
  color:#ffffff !important;
  background-color: #252526;
}

.createEventFormContainer, .createEventbackground, .createEventCol, div.justify-content-center.createEventCol{
  background-color: #252526;
}

h2.createEventHeader {
  font-weight: bold;
  color:#ffffff;
  background-color: #252526;
}


.bg-backColor {
  background-color: #252526;
  color:#18cdc6;
  border-color: #18cdc6;
  border: 1px solid;
}

.eventInput {
  color: #ffffff !important;
  background-color: #202020 !important;
  border-color: #18cdc6 !important;
}

.form-control:focus {
  border-color: #18cdc6 !important;
  box-shadow: 0 0 0 0.2rem #18cdc6 !important;
} 

.formButton {
  background-color: #202020 !important;
}