
.formCol {
  width: 33%;
  background-color: #202020;
  height: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #18cdc6;
  padding-top: 10px;
}

.formLabel {
  color:#18cdc6;
}